@font-face{
    font-family:'Digital Dismay';
    src: url('./assets/Digital\ Dismay.otf');
   }
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
    --green: #4cd137;
    --darkBack : rgba(0, 0, 0, 0.5);


    --day_color: #000;
    --dayBack : rgba(113, 128, 147,1.0);

}

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family:'Digital Dismay';
    font-size: 10px;
}

.big_body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/earth.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    padding-right: 4rem;
    padding-left:4rem;
}
.big_body_day {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/earth.jpg");
    background-color: rgba(0,0,0,0.0);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    padding-right: 4rem;
    padding-left:4rem;
}

.clock {
    width: 70rem;
    padding-right: 4rem;
    padding-left:4rem;
    height: 17rem;
    background-color: var(--darkBack);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 16rem;
    border: 0.3rem solid  var(--green);
}
.day_clock {
    width: 70rem;
    padding-right: 4rem;
    padding-left:4rem;
    height: 17rem;
    background-color: var(--dayBack);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 16rem;
    border: 0.3rem solid  var(--day_color);
}

#hours,
#minutes,
#seconds,
.colon {
    font-size: 10rem;
    text-align: center;
    width: 18%;
}

.colon {
    width: 5%;
}

#am-pm {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4rem;
    
}

.shine {
    text-shadow: 0 0 9px var(--green);
    color:var(--green);             
}

.day_shine {
    text-shadow: none;
    color:var(--day_color);             
}

@media screen and (max-width: 640px) {
    * {
        font-size: 9px;
    }
    .clock {
        height: 13rem;
    }
}

@media screen and (max-width: 541px) {
    * {
        font-size: 7px;
    }
    .clock {
        height: 13rem;
    }
}

@media screen and (max-width: 431px) {
    * {
        font-size: 6px;
    }
    .clock {
        height: 13rem;
    }
}

@media screen and (max-width: 300px) {
    * {
        font-size: 5px;
    }
    .clock {
        height: 17rem;
    }
    
}

.toggle {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
} 
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      left: -9999px;
    }
  
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
      position: relative;
      padding-left: 4em;
      padding-top: 0.25em;
      cursor: pointer;
    }
  
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before,
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      content: "";
      position: absolute;
      height: 1.5em;
      transition: all 0.5s ease;
    }
  
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      left: 0;
      top: 0;
      width: 3em;
      border: 2px solid #828282;
      background: #828282;
      border-radius: 1.1em;
      z-index: -1;
    }
  
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      left: 0.15em;
      top: 0.125em;
      background-color: #fff;
      border-radius: 50%;
      width: 1.5em;
    }
  
    [type="checkbox"]:checked + label:after {
      left: 1.65em;
    }
  
    [type="checkbox"]:checked + label:before {
      background-color: #72da67;
      border-color: #72da67;
    }
  
  